OctoBot FB OLD.json
{
  "name": "OctoBot FB OLD",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "Dkoctobot-site",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -768,
        80
      ],
      "id": "d6cd19a2-44a5-456c-b584-3fa199292102",
      "name": "Webhook",
      "webhookId": "185b274e-a6f2-4258-a8c2-6c381cce9086"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d8c9dd4-7ac9-4b2e-af4d-ad6c2fc15cf7",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "secret-key",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "210d77b2-37e2-4577-8f3c-38a20417b448",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -544,
        -16
      ],
      "id": "325559f9-7461-4a59-826f-8f47b3d2acef",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook').item.json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -320,
        -112
      ],
      "id": "7c02ec1e-a287-4581-877c-9a31d554c97c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -320,
        80
      ],
      "id": "127a76fa-c183-46a6-b543-cd011a9e4fa1",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Keys').item.json.octobotURL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"question\": \"{{ $json.requestData.question }}\",\n  \"chatId\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\",\n  \"overrideConfig\": {\n    \"sessionId\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        1136
      ],
      "id": "5a472fde-3b60-4988-a0b3-10d42f8fb754",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Keys').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\":{\n    \"id\":\"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\":\"RESPONSE\",\n  \"message\":{\n    \"text\":{{ JSON.stringify($json.rawText) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        944
      ],
      "id": "8e9ce389-cb04-4257-9fad-d68592ded91b",
      "name": "fb Send Message"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -544,
        272
      ],
      "id": "9e1247d1-8332-49d8-bd0d-d3f353d47faa",
      "name": "Early 200 Response"
    },
    {
      "parameters": {
        "jsCode": "// Access data from the Webhook node directly\nlet question = \"No message found\";\nlet senderId = \"unknown\";\nlet accessToken = \"\";\n\ntry {\n  // Get data from the Webhook node\n  const webhookData = $('Webhook').first().json;\n  \n  // Extract message text using the direct path\n  if (webhookData.body && \n      webhookData.body.entry && \n      webhookData.body.entry[0] && \n      webhookData.body.entry[0].messaging && \n      webhookData.body.entry[0].messaging[0]) {\n    \n    const messaging = webhookData.body.entry[0].messaging[0];\n    \n    // Get message text\n    if (messaging.message && messaging.message.text) {\n      question = messaging.message.text.replace(/\\n/g, '، ');\n    }\n    \n    // Get sender ID\n    if (messaging.sender && messaging.sender.id) {\n      senderId = messaging.sender.id;\n    }\n  }\n  \n  // Get access token if it exists in the current node\n  if ($input.first().json.access_token) {\n    accessToken = $input.first().json.access_token;\n  }\n  \n} catch (error) {\n  console.log(\"Error accessing webhook data:\", error.message);\n}\n\n// Return the formatted output\nreturn [{\n  json: {\n    access_token: accessToken,\n    requestData: {\n      question: question,\n      chatId: senderId,\n      overrideConfig: {\n        sessionId: senderId\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        272
      ],
      "id": "2a7ab4ab-e804-4f40-a3f0-010115917c62",
      "name": "Deal with newline"
    },
    {
      "parameters": {
        "jsCode": "// Get the input - in N8N, items are accessed directly\nconst items = $input.all();\n\n// Initialize variables\nlet startMessage = false;\nlet rawText = '';\n\n// Process the first item\nif (items.length > 0 && items[0].json) {\n  const item = items[0].json;\n  \n  if (item.text) {\n    // Regular expression to find JSON with START:YES pattern\n    const jsonPattern = /\\{[^}]*\"START\"\\s*:\\s*\"YES\"[^}]*\\}/gi;\n    \n    // Check if the pattern exists in the text\n    const matches = item.text.match(jsonPattern);\n    \n    if (matches) {\n      // Set startMessage to true if JSON with START:YES is found\n      startMessage = true;\n      \n      // Remove all JSON patterns from the text to get raw text\n      rawText = item.text.replace(jsonPattern, '').trim();\n      \n      // Also remove any extra newlines that might be left\n      rawText = rawText.replace(/\\n\\n+/g, '\\n').trim();\n    } else {\n      // If no JSON pattern found, use the original text\n      rawText = item.text;\n    }\n  }\n}\n\n// Return the results\nreturn [\n  {\n    json: {\n      startMessage: startMessage,\n      rawText: rawText.replaceAll(\"`\",\"\").replaceAll(\"json\",\"\"),\n      originalText: items[0]?.json?.text || ''\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        1136
      ],
      "id": "6c04fa9c-eb87-4701-a538-1799fe4dd91c",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1f24b31-74ab-459d-ae79-29879c1700ba",
              "leftValue": "={{ $json.startMessage }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1248,
        1136
      ],
      "id": "b6db4e22-94c8-4b5e-8c33-c8ecf2d1bb7a",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1O8RKULYtlmTw_xnY-VXfYWlMD0Xg1zvz6EIWlQJfLyg",
          "mode": "list",
          "cachedResultName": "Octobot Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8RKULYtlmTw_xnY-VXfYWlMD0Xg1zvz6EIWlQJfLyg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 485546527,
          "mode": "list",
          "cachedResultName": "FACEBOOK DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8RKULYtlmTw_xnY-VXfYWlMD0Xg1zvz6EIWlQJfLyg/edit#gid=485546527"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "رقم البروفايل الفيسبوك": "={{ $json.recipient_id }}",
            "حالة المتابعه": "لم يتم",
            "عدد المتابعه": "0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "رقم البروفايل الفيسبوك",
              "displayName": "رقم البروفايل الفيسبوك",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "رقم اضافي",
              "displayName": "رقم اضافي",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "اسم العميل",
              "displayName": "اسم العميل",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "المنصات المطلوبه",
              "displayName": "المنصات المطلوبه",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "نوع النشاط",
              "displayName": "نوع النشاط",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "حالة المتابعه",
              "displayName": "حالة المتابعه",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "عدد المتابعه",
              "displayName": "عدد المتابعه",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "وقت و تاريخ الاضافة",
              "displayName": "وقت و تاريخ الاضافة",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ملخص المحادثة مع العميل",
              "displayName": "ملخص المحادثة مع العميل",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2144,
        944
      ],
      "id": "ed15c537-2924-4490-9d03-2b5895b6f7b9",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "klgokF7pfduRT5iT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Keys').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\":{\n    \"id\":\"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\":\"RESPONSE\",\n  \"message\":{\n    \"text\":{{ JSON.stringify($json.rawText) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        1328
      ],
      "id": "256031c5-a8ac-486f-a157-73fbb6103a94",
      "name": "fb Send Message1"
    },
    {
      "parameters": {
        "jsCode": "// This code processes each item to find an image URL.\n// If found, it splits the text into a title (before), the link, and a tail (after).\n\nfor (const item of $input.all()) {\n  const text = item.json.rawText || '';\n\n  // Regex to capture a full, standalone image URL.\n  // The parentheses ( ) make it a capturing group, which is key for the split() method.\n  const imageUrlRegex = /(https:\\/\\/[^\\s]+\\.(?:jpg|jpeg|png|gif|webp|svg|bmp|ico|tiff?))/i;\n\n  // Split the text by the image URL.\n  // Because the regex has a capturing group, the delimiter (the URL) is included in the result.\n  const parts = text.split(imageUrlRegex);\n\n  // If the split results in 3 parts, we found an image.\n  // The parts will be: [text_before, image_url, text_after]\n  if (parts.length === 3) {\n    item.json.hasImage = true;\n    // Use trim() to remove leading/trailing whitespace and newlines.\n    item.json.title = parts[0].trim(); \n    item.json.imageLink = parts[1];\n    item.json.tail = parts[2].trim();\n  } else {\n    // If no image is found, set default values.\n    item.json.hasImage = false;\n    item.json.title = text; // The whole text is the title\n    item.json.imageLink = null;\n    item.json.tail = null;\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        1232
      ],
      "id": "55724d9d-b2bf-4582-8672-9cedae0d1e0f",
      "name": "hasImage"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bcb7921e-7207-4138-b16a-a955681d0fb2",
              "leftValue": "={{ $json.hasImage }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        1232
      ],
      "id": "0aece688-f56e-436e-8bc9-9ad0a25cb03d",
      "name": "ifTrue"
    },
    {
      "parameters": {
        "jsCode": "// Get data from previous nodes\nconst hasImageNodeData = $('hasImage').first().json;\nconst webhookBody = $('Webhook').first().json.body;\n\n// Extract the required information\nconst recipientId = webhookBody.entry[0].messaging[0].sender.id;\nconst imageUrl = hasImageNodeData.imageLink;\n// Get access token directly from Keys node\nconst accessToken = $('Keys').item.json.access_token;\n\n// Check if an image URL was found. If not, don't proceed.\nif (!imageUrl) {\n  return [{ json: { success: false, error: \"No image URL found in the input data.\", sent: 0 } }];\n}\n\ntry {\n  // Send image as a simple image attachment (no caption/title)\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://graph.facebook.com/v23.0/me/messages?access_token=${accessToken}`,\n    body: {\n      recipient: { id: recipientId },\n      messaging_type: 'RESPONSE',\n      message: {\n        attachment: {\n          type: 'image',\n          payload: {\n            url: imageUrl,\n            is_reusable: true\n          }\n        }\n      }\n    },\n    json: true\n  });\n  \n  return [{ json: { success: true, sent: 1, imageUrl: imageUrl, recipientId: recipientId } }];\n\n} catch (err) {\n  // Log the full error for easier debugging\n  console.error(\"Facebook API Error:\", err.response?.data || err.message);\n  return [{ json: { success: false, error: err.message, sent: 0 } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        1136
      ],
      "id": "aa85aeb2-f628-4f49-a5e8-c34572cf6b83",
      "name": "Send images with captions"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Keys').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\":{\n    \"id\":\"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\":\"RESPONSE\",\n  \"message\":{\n    \"text\":{{ JSON.stringify($json.title) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        1136
      ],
      "id": "6f6ed260-8a70-4d25-b135-3b341527f181",
      "name": "fb Send Message2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Keys').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\":{\n    \"id\":\"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\":\"RESPONSE\",\n  \"message\":{\n    \"text\":\"{{ $('ifTrue').item.json.tail }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        1136
      ],
      "id": "26aa54ff-a679-4fbc-991e-6dd10f57bd15",
      "name": "fb Send Message3"
    },
    {
      "parameters": {
        "jsCode": "// This code processes each item to find an image URL.\n// If found, it splits the text into a title (before), the link, and a tail (after).\n\nfor (const item of $input.all()) {\n  const text = item.json.rawText || '';\n\n  // Regex to capture a full, standalone image URL.\n  // The parentheses ( ) make it a capturing group, which is key for the split() method.\n  const imageUrlRegex = /(https:\\/\\/[^\\s]+\\.(?:jpg|jpeg|png|gif|webp|svg|bmp|ico|tiff?))/i;\n\n  // Split the text by the image URL.\n  // Because the regex has a capturing group, the delimiter (the URL) is included in the result.\n  const parts = text.split(imageUrlRegex);\n\n  // If the split results in 3 parts, we found an image.\n  // The parts will be: [text_before, image_url, text_after]\n  if (parts.length === 3) {\n    item.json.hasImage = true;\n    // Use trim() to remove leading/trailing whitespace and newlines.\n    item.json.title = parts[0].trim(); \n    item.json.imageLink = parts[1];\n    item.json.tail = parts[2].trim();\n  } else {\n    // If no image is found, set default values.\n    item.json.hasImage = false;\n    item.json.title = text; // The whole text is the title\n    item.json.imageLink = null;\n    item.json.tail = null;\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        848
      ],
      "id": "92fd7462-af64-4f6b-bd66-9eb549d4c122",
      "name": "hasImage1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bcb7921e-7207-4138-b16a-a955681d0fb2",
              "leftValue": "={{ $json.hasImage }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        848
      ],
      "id": "2ed65d29-2f20-4b99-ad4e-3b9d86e47841",
      "name": "ifTrue1"
    },
    {
      "parameters": {
        "jsCode": "// Get data from previous nodes\nconst hasImageNodeData = $('hasImage1').first().json;\nconst webhookBody = $('Webhook').first().json.body;\n\n// Extract the required information\nconst recipientId = webhookBody.entry[0].messaging[0].sender.id;\nconst imageUrl = hasImageNodeData.imageLink;\nconst accessToken = $('Keys').item.json.access_token;\n\n// Check if an image URL was found\nif (!imageUrl) {\n  return [{ json: { success: false, error: \"No image URL found in the input data.\", sent: 0 } }];\n}\n\n// Log for debugging\nconsole.log(\"Recipient ID:\", recipientId);\nconsole.log(\"Image URL:\", imageUrl);\nconsole.log(\"Access Token exists:\", !!accessToken);\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://graph.facebook.com/v23.0/me/messages',\n    qs: {\n      access_token: accessToken\n    },\n    body: {\n      recipient: { id: recipientId },\n      messaging_type: 'RESPONSE',\n      message: {\n        attachment: {\n          type: 'image',\n          payload: {\n            url: imageUrl,\n            is_reusable: true\n          }\n        }\n      }\n    },\n    json: true,\n    returnFullResponse: true // This will give us more error details\n  });\n  \n  return [{ \n    json: { \n      success: true, \n      sent: 1, \n      imageUrl: imageUrl, \n      recipientId: recipientId,\n      response: response.body \n    } \n  }];\n\n} catch (err) {\n  // Enhanced error logging\n  const errorDetails = {\n    success: false,\n    sent: 0,\n    error: err.message,\n    statusCode: err.response?.statusCode,\n    errorType: err.response?.data?.error?.type,\n    errorMessage: err.response?.data?.error?.message,\n    errorCode: err.response?.data?.error?.code,\n    fullError: err.response?.data || err.response?.body || err.message\n  };\n  \n  console.error(\"Facebook API Error Details:\", JSON.stringify(errorDetails, null, 2));\n  return [{ json: errorDetails }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        752
      ],
      "id": "9464dcbf-3525-4d6e-b7f0-7a881d2baa93",
      "name": "Send images with captions1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Keys').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\":{\n    \"id\":\"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\":\"RESPONSE\",\n  \"message\":{\n    \"text\":{{ JSON.stringify($json.title) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        752
      ],
      "id": "93e62ecd-cd43-4422-8800-76ba17e0104f",
      "name": "fb Send Message4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Keys').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\":{\n    \"id\":\"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\":\"RESPONSE\",\n  \"message\":{\n    \"text\":\"{{ $('ifTrue1').item.json.tail }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        752
      ],
      "id": "da04ccc7-76aa-4f4a-8566-dea05f0dec10",
      "name": "fb Send Message5"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1O8RKULYtlmTw_xnY-VXfYWlMD0Xg1zvz6EIWlQJfLyg",
          "mode": "list",
          "cachedResultName": "Octobot Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8RKULYtlmTw_xnY-VXfYWlMD0Xg1zvz6EIWlQJfLyg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 485546527,
          "mode": "list",
          "cachedResultName": "FACEBOOK DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8RKULYtlmTw_xnY-VXfYWlMD0Xg1zvz6EIWlQJfLyg/edit#gid=485546527"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "رقم البروفايل الفيسبوك": "={{ $json.recipient_id }}",
            "حالة المتابعه": "لم يتم",
            "عدد المتابعه": "0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "رقم البروفايل الفيسبوك",
              "displayName": "رقم البروفايل الفيسبوك",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "رقم اضافي",
              "displayName": "رقم اضافي",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "اسم العميل",
              "displayName": "اسم العميل",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "المنصات المطلوبه",
              "displayName": "المنصات المطلوبه",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "نوع النشاط",
              "displayName": "نوع النشاط",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "حالة المتابعه",
              "displayName": "حالة المتابعه",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "عدد المتابعه",
              "displayName": "عدد المتابعه",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "وقت و تاريخ الاضافة",
              "displayName": "وقت و تاريخ الاضافة",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ملخص المحادثة مع العميل",
              "displayName": "ملخص المحادثة مع العميل",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2592,
        752
      ],
      "id": "84467cf5-cb2b-4ab1-ae74-3afb2fb5cfdb",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "klgokF7pfduRT5iT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c626cbb9-9570-4106-b51b-736c4a64b118"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6110bb7e-8025-4138-b080-99fb74e7bb4e",
                    "leftValue": "={{ $('Webhook').item.json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "88382955-f2ed-4b8a-b999-1ce101bf4717",
                    "leftValue": "={{ $('Webhook').item.json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        576,
        256
      ],
      "id": "0bc3a070-236d-4a2c-acda-7804dff7601c",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Extract data from Facebook Messenger webhook\nconst webhookData = $('Webhook').first().json.body.entry[0].messaging;\nconst imageUrl = $('Webhook').first().json.body.entry[0].messaging[0].message.attachments[0].payload.url;\nconst senderId = $('Webhook').first().json.body.entry[0].messaging[0].sender.id;\n\ntry {\n  console.log('Fetching image from:', imageUrl);\n  \n  // Use n8n's built-in HTTP helper to download the image\n  const imageResponse = await this.helpers.httpRequest({\n    method: 'GET',\n    url: imageUrl,\n    encoding: 'arraybuffer',\n    returnFullResponse: true\n  });\n  \n  console.log('Image downloaded successfully');\n  \n  // Convert to base64\n  const base64Image = Buffer.from(imageResponse.body).toString('base64');\n  \n  // Detect MIME type\n  const contentType = imageResponse.headers['content-type'] || 'image/jpeg';\n  \n  console.log('Image converted to base64, MIME type:', contentType);\n  console.log('Base64 length:', base64Image.length);\n  \n  // Prepare Flowise request payload\n  const payload = {\n    question: \"شوف الصوره و حللها لي العميل و حاول تكمل معاه الشات علي حسب تحليل الصورة\",\n    chatId: senderId,\n    uploads: [\n      {\n        data: `data:${contentType};base64,${base64Image}`,\n        type: \"file\",\n        name: `image_${Date.now()}.jpg`,\n        mime: contentType\n      }\n    ]\n  };\n  \n  console.log('Sending request to Flowise...');\n  \n  // Send to Flowise\n  const flowiseUrl = 'https://admin.octobot.it.com/api/v1/prediction/7235fcbc-2075-4484-9ad5-a29aba60b327';\n  \n  const flowiseResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: flowiseUrl,\n    headers: {\n      'Content-Type': 'application/json'\n    },\n    body: payload,\n    returnFullResponse: true\n  });\n  \n  console.log('Flowise response received, status:', flowiseResponse.statusCode);\n  \n  return {\n    json: {\n      success: true,\n      response: flowiseResponse.body,\n      metadata: {\n        chatId: senderId,\n        imageUrl: imageUrl,\n        mimeType: contentType,\n        status: flowiseResponse.statusCode\n      }\n    }\n  };\n  \n} catch (error) {\n  console.error('Error occurred:', error.message);\n  \n  return {\n    json: {\n      success: false,\n      error: {\n        message: error.message,\n        code: error.code || 'UNKNOWN_ERROR'\n      },\n      metadata: {\n        chatId: senderId,\n        imageUrl: imageUrl\n      }\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        176
      ],
      "id": "a1451615-e155-45fd-8a13-0c7e6cbe716e",
      "name": "Process Image and Send to Flowise1"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        368
      ],
      "id": "f00e01c4-bff7-4c8b-ae82-ed5abd35a810",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1024,
        368
      ],
      "id": "b9c6b0e3-e0f6-4975-b1bd-80f0c10182e5",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "1ZTdscyODqaLzy3Y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69e38913-3c3a-432b-a046-ac357d7132c9",
              "name": "access_token",
              "value": "EAAJX92NyaakBO6Rbel5PzXPGbhIEyT80vENyqMA9aMMHM1pDhkjZBhwEzdY6TZAcW1NSzlq0mzudrI7Bhi1qnHsjHhyG01rPHwHgdZAeVnRol4jntGhZCJBDCTXHXyPhQ6trAret6AkjZB6oTh3kSRZBU1IsHZAkuvTeEcdaw0V0DMo1OZCOTxVyLWirZC5N7IfAaOWGKonmDJuee4rz3qUzOt9ZBZAggZDZD",
              "type": "string"
            },
            {
              "id": "751057fe-87e0-4b08-a1b4-b09c7795f469",
              "name": "octobotURL",
              "value": "https://www.dk.octobot.it.com/api/v1/prediction/3b5d3c36-2d14-47aa-abe6-0010cc575d3f",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        272
      ],
      "id": "0d491863-8412-4d38-bb15-949a0bbe6dbe",
      "name": "Keys"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Keys').item.json.octobotURL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"question\": \"{{ $json.text }}\",\n  \"chatId\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\",\n  \"overrideConfig\": {\n    \"sessionId\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        368
      ],
      "id": "9544ad41-502b-44e4-828e-d789a52a72a5",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Keys').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\":{\n    \"id\":\"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\":\"RESPONSE\",\n  \"message\":{\n    \"text\":{{ JSON.stringify($json.rawText) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        176
      ],
      "id": "bb745f26-4b98-4cd5-abc5-82351c6cbff3",
      "name": "fb Send Message6"
    },
    {
      "parameters": {
        "jsCode": "// Get the input - in N8N, items are accessed directly\nconst items = $input.all();\n\n// Initialize variables\nlet startMessage = false;\nlet rawText = '';\n\n// Process the first item\nif (items.length > 0 && items[0].json) {\n  const item = items[0].json;\n  \n  if (item.text) {\n    // Regular expression to find JSON with START:YES pattern\n    const jsonPattern = /\\{[^}]*\"START\"\\s*:\\s*\"YES\"[^}]*\\}/gi;\n    \n    // Check if the pattern exists in the text\n    const matches = item.text.match(jsonPattern);\n    \n    if (matches) {\n      // Set startMessage to true if JSON with START:YES is found\n      startMessage = true;\n      \n      // Remove all JSON patterns from the text to get raw text\n      rawText = item.text.replace(jsonPattern, '').trim();\n      \n      // Also remove any extra newlines that might be left\n      rawText = rawText.replace(/\\n\\n+/g, '\\n').trim();\n    } else {\n      // If no JSON pattern found, use the original text\n      rawText = item.text;\n    }\n  }\n}\n\n// Return the results\nreturn [\n  {\n    json: {\n      startMessage: startMessage,\n      rawText: rawText.replaceAll(\"`\",\"\").replaceAll(\"json\",\"\"),\n      originalText: items[0]?.json?.text || ''\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        368
      ],
      "id": "71cea134-3290-4895-a5e5-3a8cc5818dd5",
      "name": "Code1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1f24b31-74ab-459d-ae79-29879c1700ba",
              "leftValue": "={{ $json.startMessage }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        368
      ],
      "id": "cdfe462f-19d7-4a38-9410-62481d619289",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1O8RKULYtlmTw_xnY-VXfYWlMD0Xg1zvz6EIWlQJfLyg",
          "mode": "list",
          "cachedResultName": "Octobot Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8RKULYtlmTw_xnY-VXfYWlMD0Xg1zvz6EIWlQJfLyg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 485546527,
          "mode": "list",
          "cachedResultName": "FACEBOOK DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8RKULYtlmTw_xnY-VXfYWlMD0Xg1zvz6EIWlQJfLyg/edit#gid=485546527"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "رقم البروفايل الفيسبوك": "={{ $json.recipient_id }}",
            "حالة المتابعه": "لم يتم",
            "عدد المتابعه": "0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "رقم البروفايل الفيسبوك",
              "displayName": "رقم البروفايل الفيسبوك",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "رقم اضافي",
              "displayName": "رقم اضافي",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "اسم العميل",
              "displayName": "اسم العميل",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "المنصات المطلوبه",
              "displayName": "المنصات المطلوبه",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "نوع النشاط",
              "displayName": "نوع النشاط",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "حالة المتابعه",
              "displayName": "حالة المتابعه",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "عدد المتابعه",
              "displayName": "عدد المتابعه",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "وقت و تاريخ الاضافة",
              "displayName": "وقت و تاريخ الاضافة",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ملخص المحادثة مع العميل",
              "displayName": "ملخص المحادثة مع العميل",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2592,
        176
      ],
      "id": "f1ffa6d1-2fec-4071-b45c-45a819bd4813",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "klgokF7pfduRT5iT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Keys').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\":{\n    \"id\":\"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\":\"RESPONSE\",\n  \"message\":{\n    \"text\":{{ JSON.stringify($json.rawText) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        560
      ],
      "id": "bade3402-4ac5-4d85-82af-a3b3c0bb0524",
      "name": "fb Send Message7"
    },
    {
      "parameters": {
        "jsCode": "// This code processes each item to find an image URL.\n// If found, it splits the text into a title (before), the link, and a tail (after).\n\nfor (const item of $input.all()) {\n  const text = item.json.rawText || '';\n\n  // Regex to capture a full, standalone image URL.\n  // The parentheses ( ) make it a capturing group, which is key for the split() method.\n  const imageUrlRegex = /(https:\\/\\/[^\\s]+\\.(?:jpg|jpeg|png|gif|webp|svg|bmp|ico|tiff?))/i;\n\n  // Split the text by the image URL.\n  // Because the regex has a capturing group, the delimiter (the URL) is included in the result.\n  const parts = text.split(imageUrlRegex);\n\n  // If the split results in 3 parts, we found an image.\n  // The parts will be: [text_before, image_url, text_after]\n  if (parts.length === 3) {\n    item.json.hasImage = true;\n    // Use trim() to remove leading/trailing whitespace and newlines.\n    item.json.title = parts[0].trim(); \n    item.json.imageLink = parts[1];\n    item.json.tail = parts[2].trim();\n  } else {\n    // If no image is found, set default values.\n    item.json.hasImage = false;\n    item.json.title = text; // The whole text is the title\n    item.json.imageLink = null;\n    item.json.tail = null;\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        464
      ],
      "id": "d0a2f8d7-21c3-4aef-ac68-90c5656e8288",
      "name": "hasImage2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bcb7921e-7207-4138-b16a-a955681d0fb2",
              "leftValue": "={{ $json.hasImage }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2144,
        464
      ],
      "id": "4c52df4b-1e53-4c71-80e3-b841639c64ed",
      "name": "ifTrue2"
    },
    {
      "parameters": {
        "jsCode": "// Get data from previous nodes\nconst hasImageNodeData = $('hasImage2').first().json;\nconst webhookBody = $('Webhook').first().json.body;\n\n// Extract the required information\nconst recipientId = webhookBody.entry[0].messaging[0].sender.id;\nconst imageUrl = hasImageNodeData.imageLink;\n// Get access token directly from Keys node\nconst accessToken = $('Keys').item.json.access_token;\n\n// Check if an image URL was found. If not, don't proceed.\nif (!imageUrl) {\n  return [{ json: { success: false, error: \"No image URL found in the input data.\", sent: 0 } }];\n}\n\ntry {\n  // Send image as a simple image attachment (no caption/title)\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://graph.facebook.com/v23.0/me/messages?access_token=${accessToken}`,\n    body: {\n      recipient: { id: recipientId },\n      messaging_type: 'RESPONSE',\n      message: {\n        attachment: {\n          type: 'image',\n          payload: {\n            url: imageUrl,\n            is_reusable: true\n          }\n        }\n      }\n    },\n    json: true\n  });\n  \n  return [{ json: { success: true, sent: 1, imageUrl: imageUrl, recipientId: recipientId } }];\n\n} catch (err) {\n  // Log the full error for easier debugging\n  console.error(\"Facebook API Error:\", err.response?.data || err.message);\n  return [{ json: { success: false, error: err.message, sent: 0 } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        368
      ],
      "id": "d81fbd28-fad4-41c1-9348-a7c0db039fe2",
      "name": "Send images with captions2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Keys').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\":{\n    \"id\":\"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\":\"RESPONSE\",\n  \"message\":{\n    \"text\":{{ JSON.stringify($json.title) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        368
      ],
      "id": "f22eea8d-dfeb-40f4-9b30-f59a9c73e892",
      "name": "fb Send Message8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Keys').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\":{\n    \"id\":\"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\":\"RESPONSE\",\n  \"message\":{\n    \"text\":\"{{ $('ifTrue2').item.json.tail }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        368
      ],
      "id": "56a9fc3c-dd86-4809-80ac-23e9ddfb0c61",
      "name": "fb Send Message9"
    },
    {
      "parameters": {
        "jsCode": "// This code processes each item to find an image URL.\n// If found, it splits the text into a title (before), the link, and a tail (after).\n\nfor (const item of $input.all()) {\n  const text = item.json.rawText || '';\n\n  // Regex to capture a full, standalone image URL.\n  // The parentheses ( ) make it a capturing group, which is key for the split() method.\n  const imageUrlRegex = /(https:\\/\\/[^\\s]+\\.(?:jpg|jpeg|png|gif|webp|svg|bmp|ico|tiff?))/i;\n\n  // Split the text by the image URL.\n  // Because the regex has a capturing group, the delimiter (the URL) is included in the result.\n  const parts = text.split(imageUrlRegex);\n\n  // If the split results in 3 parts, we found an image.\n  // The parts will be: [text_before, image_url, text_after]\n  if (parts.length === 3) {\n    item.json.hasImage = true;\n    // Use trim() to remove leading/trailing whitespace and newlines.\n    item.json.title = parts[0].trim(); \n    item.json.imageLink = parts[1];\n    item.json.tail = parts[2].trim();\n  } else {\n    // If no image is found, set default values.\n    item.json.hasImage = false;\n    item.json.title = text; // The whole text is the title\n    item.json.imageLink = null;\n    item.json.tail = null;\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        80
      ],
      "id": "b28a9a95-e0d3-464a-9ae9-1a6069e4a79d",
      "name": "hasImage3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bcb7921e-7207-4138-b16a-a955681d0fb2",
              "leftValue": "={{ $json.hasImage }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2144,
        80
      ],
      "id": "ff37915b-c5f5-4b46-8053-0c8b68989667",
      "name": "ifTrue3"
    },
    {
      "parameters": {
        "jsCode": "// Get data from previous nodes\nconst hasImageNodeData = $('hasImage2').first().json;\nconst webhookBody = $('Webhook').first().json.body;\n\n// Extract the required information\nconst recipientId = webhookBody.entry[0].messaging[0].sender.id;\nconst imageUrl = hasImageNodeData.imageLink;\n// Get access token directly from Keys node\nconst accessToken = $('Keys').item.json.access_token;\n\n// Check if an image URL was found. If not, don't proceed.\nif (!imageUrl) {\n  return [{ json: { success: false, error: \"No image URL found in the input data.\", sent: 0 } }];\n}\n\ntry {\n  // Send image as a simple image attachment (no caption/title)\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://graph.facebook.com/v23.0/me/messages?access_token=${accessToken}`,\n    body: {\n      recipient: { id: recipientId },\n      messaging_type: 'RESPONSE',\n      message: {\n        attachment: {\n          type: 'image',\n          payload: {\n            url: imageUrl,\n            is_reusable: true\n          }\n        }\n      }\n    },\n    json: true\n  });\n  \n  return [{ json: { success: true, sent: 1, imageUrl: imageUrl, recipientId: recipientId } }];\n\n} catch (err) {\n  // Log the full error for easier debugging\n  console.error(\"Facebook API Error:\", err.response?.data || err.message);\n  return [{ json: { success: false, error: err.message, sent: 0 } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        -16
      ],
      "id": "4163895a-7e40-43f8-88ac-eaff7d6b37ad",
      "name": "Send images with captions3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Keys').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\":{\n    \"id\":\"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\":\"RESPONSE\",\n  \"message\":{\n    \"text\":{{ JSON.stringify($json.title) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        -16
      ],
      "id": "1953aa6d-983f-4ffd-8f61-fc2db4eda503",
      "name": "fb Send Message10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Keys').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\":{\n    \"id\":\"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\":\"RESPONSE\",\n  \"message\":{\n    \"text\":\"{{ $('ifTrue3').item.json.tail }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        -16
      ],
      "id": "8b109f89-39cd-4590-b8b4-aa2a00e4de36",
      "name": "fb Send Message11"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1O8RKULYtlmTw_xnY-VXfYWlMD0Xg1zvz6EIWlQJfLyg",
          "mode": "list",
          "cachedResultName": "Octobot Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8RKULYtlmTw_xnY-VXfYWlMD0Xg1zvz6EIWlQJfLyg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 485546527,
          "mode": "list",
          "cachedResultName": "FACEBOOK DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8RKULYtlmTw_xnY-VXfYWlMD0Xg1zvz6EIWlQJfLyg/edit#gid=485546527"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "رقم البروفايل الفيسبوك": "={{ $json.recipient_id }}",
            "حالة المتابعه": "لم يتم",
            "عدد المتابعه": "0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "رقم البروفايل الفيسبوك",
              "displayName": "رقم البروفايل الفيسبوك",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "رقم اضافي",
              "displayName": "رقم اضافي",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "اسم العميل",
              "displayName": "اسم العميل",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "المنصات المطلوبه",
              "displayName": "المنصات المطلوبه",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "نوع النشاط",
              "displayName": "نوع النشاط",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "حالة المتابعه",
              "displayName": "حالة المتابعه",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "عدد المتابعه",
              "displayName": "عدد المتابعه",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "وقت و تاريخ الاضافة",
              "displayName": "وقت و تاريخ الاضافة",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ملخص المحادثة مع العميل",
              "displayName": "ملخص المحادثة مع العميل",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3040,
        -16
      ],
      "id": "bc353d0b-8dc9-4d51-82cd-7b1bb861f4ac",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "klgokF7pfduRT5iT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Keys').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\":{\n    \"id\":\"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\":\"RESPONSE\",\n  \"message\":{\n    \"text\":{{ JSON.stringify($json.response.text) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        176
      ],
      "id": "1dc772ce-8b24-4569-897b-8ed01650a717",
      "name": "fb Send Message12"
    },
    {
      "parameters": {
        "amount": "={{ $json.waitValue }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -96,
        272
      ],
      "id": "c9ba9b54-f6b9-4b24-9f76-595d05a200ae",
      "name": "Wait",
      "webhookId": "12693e2c-5b48-48e0-83b1-bd5f48a1d2b0"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'waitValue' to the JSON of each one\nfor (const item of $input.all()) {\n  // رقم عشوائي من 5 إلى 20\n  item.json.waitValue = Math.floor(Math.random() * (20 - 5 + 1)) + 5;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        272
      ],
      "id": "ce990d11-d961-4953-99af-dd6e792ccee1",
      "name": "Random Wait"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-kzf8.onrender.com",
            "user-agent": "facebookexternalua",
            "content-length": "373",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "69.63.189.37",
            "cf-ipcountry": "US",
            "cf-ray": "98a8571f3cf66744-DUS",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "facebook-api-version": "v23.0",
            "render-proxy-ttl": "4",
            "rndr-id": "adaa0b96-a230-4456",
            "true-client-ip": "69.63.189.37",
            "x-forwarded-for": "69.63.189.37, 172.69.109.171",
            "x-forwarded-proto": "https",
            "x-hub-signature": "sha1=fc7a941ec2592dfcd9f3239d4ec5ca36314905a2",
            "x-hub-signature-256": "sha256=9a4760e527ca9a951646e8129720318f133469acb57dee91d9776834d7c51ee5",
            "x-request-start": "1759787069435394"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "page",
            "entry": [
              {
                "time": 1759787069271,
                "id": "699036696619453",
                "messaging": [
                  {
                    "sender": {
                      "id": "9826956477353001"
                    },
                    "recipient": {
                      "id": "699036696619453"
                    },
                    "timestamp": 1759787068724,
                    "message": {
                      "mid": "m_c_cP-CvMSjJ59h661vMua_UBFnZl-uV36pjv_iDbf6--s92VnDTWcmtCTCFgOs1-bzdm_yz0LhajahlDIxZz5Q",
                      "text": "ابعت الاسعار"
                    }
                  }
                ]
              }
            ]
          },
          "webhookUrl": "https://n8n-kzf8.onrender.com/webhook/12d82e59-40c9-4f70-9d90-057bda985f27",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Early 200 Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fb Send Message": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Early 200 Response": {
      "main": [
        [
          {
            "node": "Random Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deal with newline": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "hasImage1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "hasImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hasImage": {
      "main": [
        [
          {
            "node": "ifTrue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ifTrue": {
      "main": [
        [
          {
            "node": "fb Send Message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fb Send Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send images with captions": {
      "main": [
        [
          {
            "node": "fb Send Message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fb Send Message2": {
      "main": [
        [
          {
            "node": "Send images with captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hasImage1": {
      "main": [
        [
          {
            "node": "ifTrue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ifTrue1": {
      "main": [
        [
          {
            "node": "fb Send Message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fb Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send images with captions1": {
      "main": [
        [
          {
            "node": "fb Send Message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fb Send Message4": {
      "main": [
        [
          {
            "node": "Send images with captions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fb Send Message5": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Process Image and Send to Flowise1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Image and Send to Flowise1": {
      "main": [
        [
          {
            "node": "fb Send Message12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keys": {
      "main": [
        [
          {
            "node": "Deal with newline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fb Send Message6": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "hasImage3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "hasImage2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hasImage2": {
      "main": [
        [
          {
            "node": "ifTrue2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ifTrue2": {
      "main": [
        [
          {
            "node": "fb Send Message8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fb Send Message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send images with captions2": {
      "main": [
        [
          {
            "node": "fb Send Message9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fb Send Message8": {
      "main": [
        [
          {
            "node": "Send images with captions2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hasImage3": {
      "main": [
        [
          {
            "node": "ifTrue3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ifTrue3": {
      "main": [
        [
          {
            "node": "fb Send Message10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fb Send Message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send images with captions3": {
      "main": [
        [
          {
            "node": "fb Send Message11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fb Send Message10": {
      "main": [
        [
          {
            "node": "Send images with captions3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fb Send Message11": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Wait": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eed61de3-8734-4b6c-8daf-152a45761420",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33c20aca7710df08383af992e20b6acb75c86bc0f6059a4827ae136993943fdd"
  },
  "id": "Yod9hY3qw6NYewOT",
  "tags": []
}